.paragraph_style {
    color: rgb(0, 253, 255);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.09em;
    line-height: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 9px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 3px 1px 10px rgb(0, 0, 0);
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(255, 255, 255);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.09em;
    line-height: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 9px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 3px 1px 10px rgb(0, 0, 0);
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(255, 255, 255);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.21em;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 3px 1px 10px rgb(0, 0, 0);
    text-transform: none;
}
.style {
    font-family: 'GillSans', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 38px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}
.paragraph_style_3 {
    color: rgb(255, 255, 255);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.21em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 3px 1px 10px rgb(0, 0, 0);
    text-transform: none;
}
.style_1 {
    padding: 4px;
}
.paragraph_style_4 {
    color: rgb(251, 239, 208);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(92, 92, 92);
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(92, 92, 92);
    font-family: 'GillSans', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    font-family: 'GillSans-Bold', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}
.style_3 {
    font-family: 'GillSans-Italic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.paragraph_style_7 {
    color: rgb(92, 92, 92);
    font-family: 'GillSans-Italic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    font-family: 'GillSans', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.paragraph_style_8 {
    color: rgb(92, 92, 92);
    font-family: 'GillSans', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_5 {
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.style_6 {
    font-family: 'GillSans-Italic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_External_627_887 {
    position: relative;
}
.style_SkipStroke_2 {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_627_887 {
    position: relative;
}
.Title {
    color: rgb(255, 255, 255);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_253_69 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_635_1000 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_586_227 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class10 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class10:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class10:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class11 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class11:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class11:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class12 {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class12:visited {
    color: rgb(251, 239, 208);
    text-decoration: none;
}
a.class12:hover {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class2:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class3 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class3:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class4 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class4:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class5 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class5:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class5:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class6 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class6:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class6:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class7 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class7:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class7:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class8 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class8:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class8:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a.class9 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class9:visited {
    color: rgb(0, 253, 255);
    text-decoration: none;
}
a.class9:hover {
    color: rgb(194, 250, 0);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 147, 0);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
